body {
            margin:0px;
            padding:0px;
            font-family: Open-Sans;
            background-color: #edeef0;
        }
@font-face {
    font-family: Houschka;
    src: url(../../../font/Houschka.otf) ;
}
@font-face {
    font-family: Open-Sans;
    src: url(../../../font/Open-Sans.ttf) ;
}

.mylove {
  width: 100%;
}
.vstvk {
    width: 20%;
    position: center;
}
.bkgr {
    background-image: url(../img/telegram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    margin-top: -20px;
    margin-bottom: 20px;

}
        .vnut {
            position: absolute;
            width:100%;
            text-align: center;
        }

        h1 {
            font-size: 40px;
            font-weight: 100;
            text-transform: uppercase;
            text-align: center;
            font-family: "Houschka";
            color: #373737;

        }

 .blog_header {
    height: 54px;
    background: #fff;
    border-bottom: 1px solid #dfe3e9;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
    left: 0px;
}
.ascns-logo{
    display: block;
    text-decoration: none;
    margin: 13px 20px;
    font-family: Houschka;
    color: #373737;
    font-size: 25px;
    float: left;
}
.cont {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    box-sizing: border-box;
    height: 3614px;
    border-radius: 3px;
    padding: 25px 25px;
    max-width: 940px;
    bottom: 10px;
    margin-bottom: 50px;

}
    
p,li {
    font-size: 20px;
    color: #62646c;
    padding: 60px;
}
.content_view {
    text-align: right;
}
.about_site {
    height: 60px;
    background-color: white;
    text-align: center;
}
.about_s {
    font-family: Houschka;
    font-size: 14px;
    color: #555555;
    padding: 20px 0px 0px 0px;
}
.hr1 {
    border: none;
    background-color: #d1d1d1;
    height: 1px;
}
.photo {
    padding: 36px 20px;
    margin: 40px 40px;
    margin-top: 550px;
    border-width: 1px;
    border-color: white;
    border-radius: 100px;
    border-style: solid;
    font-size: 20px;
    background: none;
    color: white;
    transition: 0.6s;
    font-family: Houschka;
    text-decoration: none; 
    display: inline-block;
}
.photo:hover {
    background: white;
    color: black;
}
.photo:active {
    background: black;
    border-color: black;
    color: white;
}
.t {
    width: 15%;
    margin: 15px 15px; 
    float: right;
}
.stik {
    width: 20%;
    margin: 15px 20px 0px;
}
.dec {
    width: 20%;
    float: right;
    margin-top: 66px;
    margin-right: 45px;

}

.develop {
    margin-top: 40px;
    margin-bottom: -40px;
    font-family: Houschka;
    font-size: 15px;
}
h2 {
    margin-top: 80px;
    font-family: Houschka;
    text-align: center;
    font-size: 30px;
}

.instagram {
    background-image: url(../../../img/insta1.png);
    background-repeat: no-repeat;
    background-size: 40px;
    
    margin: 6px 0px;
    float: right;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    border-style: solid;
    border-width: 0px;
    border-radius: 13px;
}
.instagram:hover {
    background-image: url(../../../img/insta2.jpg);
    box-shadow: 2px 3px 10px #555555;
}
.tele {
    background-image: url(../../../img/tele1.png);
    background-repeat: no-repeat;
    background-size: 44px;
    background-position: center;
    margin: 6px 40px;
    float: right;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    border-style: solid;
    border-width: 0px;
    border-radius: 40px;
}
.tele:hover {
    background-image: url(../../../img/tele2.png);
    box-shadow: 2px 3px 10px #555555;
}
.ssylki {
    text-decoration: none;
    color: #45b4d4;
}




